<style>
    /* Set background to black */
    body {
        background-color: black;
    }

    /* Set the clock to be white and use a wider, minimalistic font */
    .clock {
        color: white;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20em;
        font-weight: bold;
        letter-spacing: -0.15em;
        text-transform: uppercase;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        line-height: 0.7;
        text-rendering: optimizeLegibility; /* Add anti-aliasing */
    }

    /* Define rainbow animation */
    .rainbow {
        animation: rainbow 5s infinite;
    }

    /* Keyframes for rainbow animation */
    @keyframes rainbow {
        0% { color: red; }
        14% { color: orange; }
        28% { color: yellow; }
        42% { color: green; }
        57% { color: blue; }
        71% { color: indigo; }
        85% { color: violet; }
        100% { color: red; }
    }

    /* Position the 'made by Pcniado' text in the bottom left corner */
    .made-by-pcniado {
        position: fixed;
        bottom: 20px;
        left: 20px;
        color: white;
        font-size: 18px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    /* Additional CSS code */
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    body {
        min-height: 100lvh;
        background-color: #050908;
    }

    .circle {
        --circle-size: 40px;
        position: fixed;
        height: var(--circle-size);
        width: var(--circle-size);
        border: 1px solid white;
        border-radius: 100%;
        top: calc(var(--circle-size) / 2 * -1);
        left: calc(var(--circle-size) / 2 * -1);
        pointer-events: none;
    }
</style>
